<header>
    <nav>
        <a href="/">School</a>
        <ul>
            <li> <a href="/teachers">Teachers</a> </li>
            <li> <a href="/teachers/new">Add Teacher</a> </li>
            <li> <a href="/subjects">Subjects</a> </li>
            <li> <a href="/subjects/new">Add Subject</a> </li>
        </ul>
    </nav>
</header>