<h2>Recently Added</h2>
<div>
    <% displaySub.forEach(key => { %>
        <img height="150" width="100" src="data:<%=key.imgType%>;base64,<%=key.subImage%>">
        <h3><%= `Subject Name: ${key.subjectName}`%></h3>
        <h5><%= `Subject Teacher: ${key.subjectTeacher}`%></h5>
    <% }); %>
</div>